nav {
    font-size: 1.3rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

nav li {
	float: right;
}

nav .title {
	float: left;
}

nav li a {
	color: black;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

@media screen and (max-width: 460px) {
    nav ul {
        display: grid;
        grid-template-columns: 100%;
    }
    nav li {
        display: none;
        float: none;
    }
    ul button {
        display: block;
    }
    nav .title {
        display: inline-block;
        width: 100%;
    }
}
