<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/about.css"/>
		<link rel="stylesheet" type="text/css" href="/css/contact.css"/>
		<link rel="stylesheet" type="text/css" href="/css/nav.css"/>
		<link rel="stylesheet" type="text/css" href="/css/intro.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="/script/script.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico"/>
		<title>{{.Title}}</title>
	</head>
	<nav>
		<ul>
			<li class="navitem title"><a href="#">{{.Title}}</a></li>
			<li class="navitem"><a href="#contact">Contact</a></li>
			<li class="navitem"><a href="#about">About</a></li>
		</ul>
	</nav>
	<body>
		<div class="skewed"></div>
		<div class="intro">
			<img class="intro-item intro-face" src="/img/face.png"></img>
			<div class="intro-item intro-card card">
				<div class="card-body">
					<h5 class="card-title">{{.Name}}</h5>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique suscipit neque, nec ornare eros.</p>
					<a href="#about" class="btn btn-primary">More</a>
				</div>
			</div>
		</div>
		<div class="about card">
			<a id="about"></a>
			<div class="card-body">
				<h5 class="card-title">About</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum risus non vulputate pretium. Quisque sed hendrerit sapien. Ut facilisis viverra pellentesque. Praesent quis quam aliquet, varius turpis id, placerat mauris. Sed posuere dui pulvinar semper tempus. Donec gravida laoreet nulla non interdum. Nunc eleifend ut augue id ornare. Nunc blandit lobortis volutpat. Nulla bibendum fringilla blandit. Curabitur purus neque, suscipit vitae dolor sed, placerat blandit mi. Nulla volutpat tellus nec risus suscipit, quis iaculis dui hendrerit. Quisque et orci gravida, mollis nisi in, finibus mi. Proin non libero viverra, ornare massa in, pulvinar sem.
				</p>
				<p class="card-text">
					Morbi blandit augue vitae sem dapibus, eget tristique velit commodo. Etiam fermentum vel sapien eget tempor. Maecenas condimentum bibendum cursus. Integer ac arcu felis. Aenean elementum a lacus eu facilisis. Maecenas elementum accumsan neque, nec ornare quam blandit semper. Ut finibus quam placerat arcu egestas, et convallis urna tempor. In ut neque tincidunt, ultricies odio in, condimentum odio. In massa nisi, consequat vel elit et, dictum eleifend ipsum. Donec tristique libero mauris, sed dapibus ligula dapibus eget. Vestibulum aliquam mi sem, sit amet lacinia velit rutrum vitae.
				</p>
			</div>
		</div>
		<div class="contact card">
			<a id="contact"></a>
			<div class="card-body">
				<h5 class="card-title">Contact</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</body>
</html>
