<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/about.css"/>
		<link rel="stylesheet" type="text/css" href="/css/contact.css"/>
		<link rel="stylesheet" type="text/css" href="/css/nav.css"/>
		<link rel="stylesheet" type="text/css" href="/css/intro.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="/script/script.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{.Title}}</title>
	</head>
	<nav>
		<ul>
			<li class="navitem title"><a href="#">{{.Title}}</a></li>
			<li class="navitem"><a href="#contact">Contact</a></li>
			<li class="navitem"><a href="#about">About</a></li>
		</ul>
	</nav>
	<body>
		<div class="skewed"></div>
		<div class="intro">
			<img class="intro-item intro-face" src="/img/face.png"></img>
			<div class="intro-item intro-card card">
				<div class="card-body">
					<h5 class="card-title">{{.Name}}</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#about" class="btn btn-primary">More</a>
				</div>
			</div>
		</div>
		<div class="about card">
			<a id="about"></a>
			<div class="card-body">
				<h5 class="card-title">About</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="contact card">
			<a id="contact"></a>
			<div class="card-body">
				<h5 class="card-title">Contact</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</body>
</html>
