<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="/css/about.css"/>
		<link rel="stylesheet" type="text/css" href="/css/portfolio.css"/>
		<link rel="stylesheet" type="text/css" href="/css/contact.css"/>
		<link rel="stylesheet" type="text/css" href="/css/nav.css"/>
		<link rel="stylesheet" type="text/css" href="/css/intro.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="/script/script.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico"/>
		<title>{{.Title}}</title>
	</head>
	<nav>
		<ul>
			<li class="navitem title"><a href="#">{{.Title}}</a></li>
			<li class="navitem"><a href="#contact">Contact</a></li>
			<li class="navitem"><a href="#about">About</a></li>
		</ul>
	</nav>
	<body>
		<div class="skewed"></div>
		<div class="intro">
			<img class="intro-item intro-face" src="/img/face.jpg"></img>
			<div class="intro-item intro-card card">
				<div class="card-body">
					<h5 class="card-title">{{.Name}}</h5>
					<p class="card-text">{{.Content.Intro}}</p>
					<a href="#about" class="btn btn-primary">More</a>
				</div>
			</div>
		</div>
		<div class="portfolio">
			<div class="card">
				<img src="https://opengraph.githubassets.com/1/jack-davidson/jackfolio" class="card-img-top" alt="...">
				<!--
				<div style="background-color: #2e3440; height: 250px"></div>
				!-->
				<div class="card-body">
					<h5 class="card-title">jackfolio</h5>
					<p class="card-text">Agile personal portfolio website written in Go, HTML, and CSS.</p>
					<a href="https://github.com/jack-davidson/jackfolio" class="btn btn-primary">Take Me There</a>
				</div>
			</div>
			<div class="card">
				<img src="https://opengraph.githubassets.com/1/jack-davidson/keyo" class="card-img-top" alt="...">
				<!--
				<div style="background-color: #2e3440; height: 250px"></div>
				!-->
				<div class="card-body">
					<h5 class="card-title">keyo</h5>
					<p class="card-text">Cryptographic derivation password management.</p>
					<a href="https://github.com/jack-davidson/keyo" class="btn btn-primary">Take Me There</a>
				</div>
			</div>
			<div class="card">
				<img src="https://opengraph.githubassets.com/1/jack-davidson/econf" class="card-img-top" alt="...">
				<!--
				<div style="background-color: #2e3440; height: 250px"></div>
				!-->
				<div class="card-body">
					<h5 class="card-title">econf</h5>
					<p class="card-text">Lightweight configuration management (CM) tool written in C.</p>
					<a href="https://github.com/jack-davidson/econf" class="btn btn-primary">Take Me There</a>
				</div>
			</div>
			<div class="card">
				<img src="https://opengraph.githubassets.com/1/jack-davidson/chosen-one" class="card-img-top" alt="...">
				<!--
				<div style="background-color: #2e3440; height: 250px"></div>
				!-->
				<div class="card-body">
					<h5 class="card-title">chosen one</h5>
					<p class="card-text">Automated and fair participant selection for teams.</p>
					<a href="https://github.com/jack-davidson/chosen-one" class="btn btn-primary">Take Me There</a>
				</div>
			</div>
		</div>
		<div class="contact card">
			<a id="contact"></a>
			<div class="card-body">
				<h5 class="card-title">Contact</h5>
				<div style="display: grid; text-align: center; row-gap: 5%">
					{{.Email}}
					<a href="mailto:{{.Email}}" class="btn btn-primary">Open in Mail</a>
				</div>
			</div>
		</div>
	</body>
</html>
